<mat-toolbar color="white" *ngIf="showHeader">
  <button mat-icon-button matTooltip="Application Menu" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <div>
    <button mat-icon-button matTooltip="Switch Apps" routerLink="/login">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container style="margin: 0;" [hasBackdrop]="false"
  [ngClass]="{'header-show': showHeader, 'header-hide': !showHeader}">
  <mat-sidenav #sidenav mode="over" [class.mat-elevation-z4]="true" id="sidenav" [opened]="isSidenavOpened"
    class="sidenav-container" style="width: 130px">
    <mat-nav-list dense *ngFor="let item of navMenu" class="nav-list-container">
      <!-- <mat-list-item [routerLink]="item.routerLink" class="nav-content">
        <div class="navmenu-container" (click)="toggleSubmenu(item.submenu)">
          <mat-icon class="nav-menu-icon">{{item.icon}}</mat-icon>
          <img [src]="item.icon" class="nav-menu-icon" />
          <div class="nav-menu-text">{{item.text}}</div>
        </div>
      </mat-list-item> -->
      <mat-divider></mat-divider>
      <mat-expansion-panel *ngIf="item.hasOwnProperty('children')" [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header class="nav-content">
              <div class="navmenu-container">
                  <p>{{item.title}}</p>
              </div>
              <mat-icon class="nav-list-icon">{{item.icon}}</mat-icon>
              <p>{{item.text}}</p>
          </mat-expansion-panel-header>
          <mat-nav-list dense *ngFor="let child of item.children">
              <a mat-list-item routerLink="{{child.routerLink}}">
                  <mat-icon class="nav-list-icon">{{child.icon}}</mat-icon>
                  <p>{{child.text}}</p>
              </a>
          </mat-nav-list>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="navigateRoute($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div id="sidenav-submenu" class="sidenav-submenu">
  <mat-expansion-panel class="submenu-panel" expanded="" [class.mat-elevation-z0]="true" dense
    *ngFor="let menuItem of submenuData">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{menuItem?.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list dense class="submenu-list" *ngFor="let submenuItem of menuItem.children">
      <a mat-list-item [routerLink]="submenuItem?.routerLink" class="submenu-list-item">
        <mat-icon class="submenu-icon">{{submenuItem.icon}}</mat-icon>
        <p class="submenu-text">{{submenuItem.text}}</p>
      </a>
    </mat-nav-list>

  </mat-expansion-panel>
</div> -->

<div class="loader-container" *ngIf="isLoading">
  <mat-spinner class="loader"></mat-spinner>
</div>